# Printing My First Python Code

In [ ]:
print("Hello Tahmid")

Hello Tahmid

In [ ]:
student_of_PP10_10 = 'Emon'
print("Hello", student_of_PP10_10 )

Hello Emon

In [ ]:
student_of_PP10_10 = 'Fahim'
print("Hello", student_of_PP10_10 )

Hello Fahim

In [ ]:
student_info = 'i am Tahmid'
print(student_info.capitalize())

I am tahmid

 #string_manipulation

In [ ]:
student_info = '            i am Tahmid              '
print(student_info.strip())

i am Tahmid

In [ ]:
student_info = '            i am Tahmid              '
print(student_info)
student_info = student_info.strip()
print(student_info)
student_info = student_info.capitalize()
print(student_info)

            i am Tahmid
i am Tahmid
I am tahmid

In [ ]:
student_info = '            i am Tahmid              '
print(student_info)
student_info = student_info.strip().capitalize()
print(student_info)

            i am Tahmid
I am tahmid

# Class 2 DATA TYPE

# New Section

https://github.com/fazle-Rakib

Int=1. Float = 4.5 string= "abc"/ "4.5"

In [ ]:
class_no = 2
val_of_pi = 3.1416
intro = 'This is class of PP_10'
print(type(class_no))
print(type(val_of_pi))
print(type(intro))

<class 'int'>
<class 'float'>
<class 'str'>

# Commenting

In [ ]:
# in the next we block, we are defining some value
val_of_pi

3.1416

In [ ]:
class_no = 2
val_of_pi = 3.1416
intro = 'This is class of PP_10'

# Variable  Naming

In [ ]:
class1 = 2
# e. g. of invalid variable naming
# class_n! = 1
# 1class_3 = 5

In [ ]:
name = input("What is your name?")
print('Welcome ', name)

What is your name?Tahmid
Welcome  Tahmid

In [ ]:
first_num = input("Input your first number: "), type(first_num)
second_num = input("Input your second number: "), type(second_num)
sum = first_num + second_num
print("The sum of two numbers: ", sum)

type(sum)

Input your first number: 5
Input your second number: 6
The sum of two numbers:  ('5', <class 'type'>, '6', <class 'str'>)

tuple

In [ ]:
# string concatination
"this is a "+ "string concatination"

'this is a string concatination'

In [ ]:
first_num = input("Input your first number: ")
second_num = input("Input your second number: ")
sum = int(first_num) + int(second_num)
print("The sum of two numbers: ", sum)

Input your first number: 5
Input your second number: 2
The sum of two numbers:  7

In [ ]:
first_num = "10"
second_num = "20"
second_num = int(second_num)
print("Data type of first_num var before type casting: ", type(second_num))
first_num = (int(first_num))
print("DAta type of first_num var after type casting: ", type(first_num))

Data type of first_num var before type casting:  <class 'int'>
DAta type of first_num var after type casting:  <class 'int'>

In [ ]:
first_num = int(first_num)
second_num = int(second_num)
print("Data Type of Both Variable after casting: ", type(first_num), type( second_num))

Data Type of Both Variable after casting:  <class 'int'> <class 'int'>

In [ ]:
sum = first_num + second_num
print("The sum of two numbers: ", sum)

The sum of two numbers:  30

# change the type of data

In [ ]:
first_num = input("Input your first number: ")
second_num = input("Input your second number: ")

Input your first number: 104.5
Input your second number: 95.5

In [ ]:
print("Data type of first_num var: ", type(first_num))
print("Data type of second_num var: ", type(second_num))

Data type of first_num var:  <class 'str'>
Data type of second_num var:  <class 'str'>

In [ ]:
first_num = float(first_num)
second_num = float(second_num)
print("Data type of first_num var: ", type(first_num), type(second_num))

Data type of first_num var:  <class 'float'> <class 'float'>

In [ ]:
sum = first_num + second_num
print("The sum of two numbers: ", sum)

The sum of two numbers:  200.0

+,-*,/ করে নিয়ে আসতে হবে।

# Homework

In [ ]:
first_num = input("Input first value: ")
second_num = input("Input second value: ")

Input first value: 55
Input second value: 66

In [ ]:
type(first_num)
print(type(first_num))

<class 'str'>

In [ ]:
first_num = float(first_num)
second_num = float(second_num)
print(type(first_num))

<class 'float'>

In [ ]:
sum = first_num + second_num
print("The sum of two numbers: ", sum)

The sum of two numbers:  121.0

In [ ]:
first_num = input("Input first value: ")
second_num = input("Input second value: ")
type(first_num)
print(type(first_num))
first_num = float(first_num)
second_num = float(second_num)
print(type(first_num))
sum = first_num + second_num
print("The sum of two numbers: ", sum)

Input first value: 9
Input second value: 5
<class 'str'>
<class 'float'>
The sum of two numbers:  14.0

In [ ]:
first_num = input("Input first value: ")
second_num = input("Input second value: ")
type(first_num)
print(type(first_num))
first_num = float(first_num)
second_num = float(second_num)
print(type(first_num))
minus = first_num - second_num
print("The minus of two numbers: ", minus)

Input first value: 6
Input second value: 8
<class 'str'>
<class 'float'>
The minus of two numbers:  -2.0

In [ ]:
first_num = input("Input first value: ")
second_num = input("Input second value: ")
type(first_num)
print(type(first_num))
first_num = float(first_num)
second_num = float(second_num)
print(type(first_num))
multiply = first_num * second_num
print("The multiply of two numbers: ", multiply)

Input first value: 55
Input second value: 60
<class 'str'>
<class 'float'>
The multiply of two numbers:  3300.0

In [ ]:
first_num = input("Input first value: ")
second_num = input("Input second value: ")
type(first_num)
print(type(first_num))
first_num = float(first_num)
second_num = float(second_num)
print(type(first_num))
divide = first_num / second_num
print("The divide of two numbers: ", divide)

Input first value: 99.5
Input second value: 55.9
<class 'str'>
<class 'float'>
The divide of two numbers:  1.779964221824687

In [ ]:
first_num = input("Input first value: ")
second_num = input("Input second value: ")
type(first_num)
print(type(first_num))
first_num = float(first_num)
second_num = float(second_num)
print(type(first_num))
sum = first_num + second_num
print("The sum of two numbers: ", sum)
minus = first_num - second_num
print("The minus of two numbers: ", minus)
multiply = first_num * second_num
print("The multiply of two numbers: ", multiply)
divide = first_num / second_num
print("The divide of two numbers: ", divide)

Input first value: 69.69
Input second value: 96.96
<class 'str'>
<class 'float'>
The sum of two numbers:  166.64999999999998
The minus of two numbers:  -27.269999999999996
The multiply of two numbers:  6757.1424
The divide of two numbers:  0.71875

## **Class** **3**

https

In [ ]:
number = "10"
print(number + 5)

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = 10 #int
b = 10.5 #float
c = "Text" #string
d = True
e = 1+2j #complex

print(type(e))
print(type(d))

<class 'complex'>
<class 'bool'>

In [ ]:
a = 5 #Statement  => execute
2*a-4 #Expression => output => evalation

6

# output formation

In [ ]:
Region = "Gazipur"
Country = "Bangladesh"
print("I am from Gazipur, Bangladesh")
print("I am from", Region,",", Country)
print("I am from {Region}, {Country}")
print("I am from {}, {}".format("Gazipur", "Bangladesh"))
print("I am from {}, {}".format(Region, Country))
print("I am from {}, {}".format(Region, Country))
print("I am from {place} {1}, {0}".format(Region, Country, place = "Akhalia"))

I am from Gazipur, Bangladesh
I am from Gazipur , Bangladesh
I am from Gazipur, Bangladesh
I am from Gazipur, Bangladesh
I am from Gazipur, Bangladesh
I am from Gazipur, Bangladesh
I am from Akhalia Bangladesh, Gazipur

In [ ]:
net_balance = 123456.345618558
balance = 12.35
print("Your AC BAL is: {:.2f}".format(balance))
print("Your AC BAL is: {0:.2f} {1}".format(net_balance, balance))
print("Your AC BAL is: {1:.2f}".format(net_balance, balance))
print("Your AC BAL is: {1:10.4f}".format(net_balance, balance))

Your AC BAL is: 12.35
Your AC BAL is: 123456.35 12.35
Your AC BAL is: 12.35
Your AC BAL is:    12.3500

In [ ]:
print( "This is line"," no- 1", sep=":")
print( "This is line no- 2", end= ". \n")
print( "This is line"," no- 3", sep="__")
#escape sequence
new_line = "I am Tahmid. \nFrom Gazipur, \"Bangladesh\""
print(new_line)

This is line: no- 1
This is line no- 2.
This is line__ no- 3
I am Tahmid.
From Gazipur, "Bangladesh"

In [ ]:
#Escape Character N
new_line = "I am Tahmid. \nFrom Gazipur, \"Bangladesh\". Liberated in 1971"
print(new_line, type(new_line))

I am Tahmid.
From Gazipur, "Bangladesh". Liberated in 1971 <class 'str'>

In [ ]:
multilne = '''I
am
a
multiline
str
'''
str_contination = multilne + new_line

print(str_contination)

I
am
a
multiline
str
I am Tahmid.
From Gazipur, "Bangladesh". Liberated in 1971

In [ ]:
message = "Introduction to Python Programing Language"
print(message)
#single char acess
#print(meggae[2])
#multiple char acess
#print(message[2:4])
to_substring = message[2:4]
print(to_substring)

Introduction to Python Programing Language
tr

In [ ]:
#searching/find
print(message.find('to'))
#length
print(len(message))

frist_index_of_to = message.find('to')
length-of_to = len('to')
print(message[frist_index_of_to:frist_index_of_to+length-of_to])

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-77-0272492da517>, line 7)

In [ ]:
date = '2024-06-29'

year = date[0:4]
month = date[5:7]
day =date[8:10]
print(day, month, year)

#replace the day with next day
date = date.replace('29', '30')
 # Use 'replace' instead of 'repace' and reassign to update the date
print(date)

29 06 2024
2024-06-30

In [ ]:
message = "Introduction to PYTHON programing language" #with ARTHROPODA
message = message.replace('PYTHON', 'ARTHROPODA')
print(message)

Introduction to ARTHROPODA programing language

20/11/24
NEW CLASS

https://www.google.com/url?q=https%3A%2F%2Ftinyurl.com%2FPP10-all-in-one

In [ ]:
first_num = input("first value: ")
Second_value = input("second value: ")
first_num = float(first_num)
Second_value = float(Second_value)

sum = first_num + Second_value
print("Your Sum is:", sum)
grade = sum - float(10.545454)
print(grade)

first value: 55
second value: 66
Your Sum is: 121.0
110.454546

In [ ]:
print(sum)

11.0

হাসতে দ্যাখো!

CLASS 5

In [ ]:
groceries = ['rice','Oil', 'Egg']
print(type(groceries), len(groceries))

<class 'list'> 3

In [ ]:
groceries.append('Salt')

In [ ]:
len(groceries)

4

In [ ]:
groceries.remove('Oil')
print(groceries)

ValueError: list.remove(x): x not in list

In [ ]:
print(groceries[2])

Salt

In [ ]:
groceries[1] = 'Ruti-Fish'
print(groceries)

['rice', 'Ruti-Fish', 'Salt']

In [ ]:
#Lentil, Onion, Gerlic, Ginger, Potato, Tomato
updated_list_of_groceries = ['Lentil', 'Onion', 'Gerlic', 'Ginger', 'Potato', 'Tomato']
groceries.extend(updated_list_of_groceries)
print(groceries)

['rice', 'Ruti-Fish', 'Salt', 'updated_list_of_groceries', ['Lentil', 'Onion', 'Gerlic', 'Ginger', 'Potato', 'Tomato'], 'Lentil', 'Onion', 'Gerlic', 'Ginger', 'Potato', 'Tomato']

In [ ]:
groceries.extend('Lentil')

In [ ]:
my_list = ['Rice', 1o, 'Egg', 12.5, [1, 'onion']]
print(len(my_list))

SyntaxError: invalid decimal literal (<ipython-input-16-b032d0eaccd1>, line 1)

Conditional Statemnet

In [ ]:
is_boolean = True
print(type(is_boolean))

<class 'bool'>

In [ ]:
if is_marid True:
   print('Hey, its a TRUE!!!')
   False:
   print('Hey its not FALSE')

Hey, its a TRUE!!!

In [ ]:
is_married = True
if is_married:
  print('HE is married')
  print('I am inside if conditional statement!!!')
  print( 'I am outside if condition')
else:
  print(('He is unmarried'))
  print('Iam inside else conditional Statement')
print('I am inside else conditional statement')

HE is married
I am inside if conditional statement!!!
I am outside if condition
I am inside else conditional statement

In [ ]:
if is_married
 print('He is married!!!')

In [ ]:
my_farm = ['cow', 'goat']
offering_animal = input("please enter your name: ")
print(offering_animal)

if offering_animal == my_farm[0]:
  print("okey, I have a offer for you")
elif offering_animal == my_farm[1]:
  print("I have a offer for you")
else:
  print("okey, I dont want to buy what you are selling")

please enter your name: Horse
Horse
okey, I dont want to buy what you are selling

In [ ]:
x = 5
y = 3
if v == 4:
  print(x)

NameError: name 'v' is not defined

writedown a problem statement to check if anumber is inside a range (have

In [ ]:
radious = (input("state the size of radious "))
type(radious)

print( type(radious))
radious =float(radious)
print(type(radious))

if radious == int or float:
   area_of_circle = 3.14159 * radious
   print("The area of circle is:", area_of_circle )
else: print( "Invalid Input")

state the size of radious 4.6
<class 'str'>
<class 'float'>
The area of circle is: 14.451313999999998

In [ ]:
Total_friend = int(input("Friends Total? "))
Distance = float(input("what is the distance? (in KM) "))
Fuel_price = float( input( "current fuel price? :"))
Cost_of_trip = Distance * Fuel_price * Total_friend
print( Total_friend , " tour members have expend", Cost_of_trip, "taka")

Friends Total? 2
what is the distance? (in KM) 10
current fuel price? :30
2  tour members have expend 600.0 taka

In [ ]:
total_budget = float(input("input budget: " ))
transportation_cost = float(input("input transportation cost: " ))
accomodation_cost = float(input("input accomodation cost: " ))
meal_cost = float(input("input meal cost: " ))
Total_expenses = transportation_cost + accomodation_cost + meal_cost
print("Expense = ", Total_expenses )
Remaining_Budget = total_budget - Total_expenses
print("REMAINING BUDGET=", Remaining_Budget )
if Remaining_Budget <0:
  print("You Have exceeded your budget by: ",Remaining_Budget )
else:
  print("You have saved",Remaining_Budget, "taka" )

input budget: 1000
input transportation cost: 500
input accomodation cost: 300
input meal cost: 50
Expense =  850.0
REMAINING BUDGET= 150.0
You have saved 150.0 taka

In [ ]:
radious = float(input("Radious size: "))
radious_squire = radious * radious
area = 3.14159 * radious_squire
print("Area=", area)

Radious size: 5
Area= 78.53975

In [ ]:
x = float(input("Input a number "))

if x%2 == 0:
  print("The number is even")
elif x%2 == 1:
  print("The number is odd")
elsea:
  print("Invalid input")

Input a number 1
The number is odd

In [ ]:
import math
math.pi
print(type(math.pow(2,5)), (math.pow(2,5)))

<class 'float'> 32.0

In [ ]:
def jaiccha():
 return "amar poran jaha chay"

In [ ]:
jaiccha()

'amar poran jaha chay'

In [ ]:
def matchine():

In [ ]:
def roll_counter(base, exponent=8):
  return base ** exponent

In [ ]:
roll_counter(10)

100000000